/* 
    #336699
    #6699CC
    #99CCFF
*/

body {
	padding: 30px;
}

.header {
	/* linear-gradient 为背景图片提供线性颜色渐变层，
        to right bottom 预示着从左上角至右下角的颜色渐变
    */
	background-image: linear-gradient(
			to right bottom,
			rgba(153, 204, 255, 0.8),
			rgba(51, 102, 153, 1)
		),
		url('../public/imgs/wallpaper.jpg');
	/* 背景图片的初始位置 */
	background-position: bottom;
	/* 保持长宽比，以图片的宽或高覆盖容器，可能被剪裁 */
	background-size: cover;
	height: 95vh;
	position: relative;
	/*  通过剪裁绘制可见区域
        clip-path: polygon(x y, x y);
     */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.title-box {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/* 这个类作用于h1上，为了更好的语义和SEO */
.heading-primary {
	color: #fff;
	font-size: 40px;
	/* 通过该行代码实现英文大写 */
	text-transform: uppercase;
	/* 实现文字间空隙 */
	letter-spacing: 13px;
}
.heading-primary__main {
	display: block;
	animation: heading-text-fade-in 1s;
}

.heading-primary__sub {
	letter-spacing: 28px;
	display: block;
}

@keyframes heading-text-fade-in {
	0% {
		transform: translate(-20px);
	}
	80% {
		transform: translate(20px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes heading-btn-fade-in {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translate(0);
	}
}

.btn {
	text-decoration: none;
	display: inline-block;
	width: 300px;
	height: 80px;
	background-color: #fff;
	color: #777;
	line-height: 80px;
	text-transform: uppercase;
	margin-top: 15px;
	border-radius: 40px;
	transition: all 0.2s linear;
	animation: heading-btn-fade-in .5s ease 1.3s backwards;
	position:relative
}

.btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position:absolute;
	left: 0;
	top: 0;
	border-radius: 40px;
	background-color: #fff;
	z-index: -1;
	transition: all .4s;
}

.btn:active {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover::after{
	transform: scale(2);
	opacity: 0;
}

